body, html {
    height:100%;
    position: relative;
    padding:0;
    margin:0;
    font-family: "Josefin Sans" !important;
}

a:hover {
    color: #71b8f1;
}

a:active {
    color: #71b8f1;
    background-color: #fff !important;
}

.box {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    box-shadow: 1px 2px 7px;
    border-radius: 3px;
    margin: 5px auto 10px auto;
}

.flory{
  background-color: #A8E2DC;
  opacity: .8;
}

.form-container{
  width: 40%;
  /*height: 45%;*/
  margin:10% auto 10% auto;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

footer{
  width: 100%;
  left: 0;
  bottom: 0;
  height: auto;
  background-color:#0d0d0d;
  text-align:center;
  color: white;
  overflow: hidden;
  position: fixed;
}

img.img-rounded {
  border-radius: 100px;
}


img{
  width: 100%;
  height: auto;
}

.intro-flory{
    padding: 90% 0px 0px 0px;
   	background: url("../img/white_logo_color_background 2.png") no-repeat center center fixed;
    text-align: left;
    background-color: #71b8f1;
    background-size: 75%;
}

.jumbotron.container.flory {
    width: 90%;
    border-radius: 5px;
}
#left-row{
  position: fixed;
}

#right-row{
  float: right;
  width: 62%;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

nav{
  border: 2px solid #fff !important;
  position: fixed;
  color: 71b8f1 !important;
  background-color: #FFF !important;
}

.navbar-right{
  padding-right: 30px;
}
/*.panel{
  width: 24%;
  margin-left: 5px;
}*/

.profile{
  margin-top:75px;

}

.panel{
width: 100%;
height: 900px;
background-color: white;
}

.row{
  margin-bottom: 5%;
}

.search{
  height: 500px;
  overflow: scroll;
}
.well{
  margin: 10px 0px 10px 0px;
}

.well.flory {
    border-radius: 30px;
}

/*~~~~~~~~~~~~~~~~~Panels~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#intro-flory{
padding-top:50px;
height:1000px;
width: 100%;
/*color: #337ab7;*/
background-color: #FFF;
}
#intro-flory img{
  size: 400px;
}

#work-flory{
padding-top:50px;
height:500px;
width: 100%;
/*color: #39ae3b;*/
background-color: #71b8f1;
}

#team-flory{
padding-top:50px;
height:500px;
width: 100%;
/*color: #e33733;*/
background-color: #e33733;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.panel{
  width: 90%;
  margin:0px 5% 5px 5%;
}

.form-container{
  width: 90%;
  margin:10% auto 20% auto;
}
.row{
  margin-bottom: 20%;
}

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */

.panel{
  width: 20%;
margin: 0px 0% 5px 3.5%;
}

}
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .panel{
    margin:0px 5px 5px 5px;
  }
}
