body, html {
    height:100%;
    position: relative;
    padding:0;
    margin:0;
}

a:hover {
    color: #A8E2DC;
}

a:active {
    color: #A8E2DC;
}
.flory{
  background-color: #A8E2DC;
  opacity: .8;
}

.form-container{
  width: 40%;
  /*height: 45%;*/
  margin:10% auto 10% auto;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

footer{
  width: 100%;
  left: 0;
  bottom: 0;
  height: auto;
  background-color:#0d0d0d;
  text-align:center;
  color: white;
  overflow: hidden;
  position: fixed;
}

img.img-rounded {
  border-radius: 100px;
}


img{
  width: 100%;
  height: auto;
}

/*#image{
  float: left;
  width: 250px;
  height: 250px;
}*/

/*#line{
  border-left: medium #A8E2DC solid;
  border-width: 10px;
  height: 200px;
  margin-left: 270px;
  border-radius: 10px;
  width: 1px;
  margin-right: 1px;
  z-index: -1;
}*/

nav{
  border: 0px;
}

.navbar-right{
  padding-right: 30px;
}
.panel{
  width: 24%;
  margin-left: 5px;
}

.row{
  margin-bottom: 5%;
}

.well{
  margin: 10px 0px 10px 0px;
}

.well.flory {
    border-radius: 30px;
}
/*#words{
  float: right;
}*/


/*Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.panel{
  width: 90%;
  margin:0px 5% 5px 5%;
}

.form-container{
  width: 90%;
  margin:10% auto 5% auto;
}

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */

.panel{
  width: 20%;
margin: 0px 0% 5px 3.5%;
}

}
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .panel{
    margin:0px 5px 5px 5px;
  }
}
